<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 
	<form action="">

		<h2>Inicio sesion</h2>
		<input type="text" name="usuario" placeholder="Digite su Usuario">
		<input type="password" name="contraseña" placeholder="Digite su contraseña">
		<input type="button" value="Ingresar" >



	</form>	   
</body>
</html>